*{
  margin: 0;
  padding: 0;
  box-sizing: border-box!important;
}

}
body{
  margin-top: 130px;
}


html {
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
  }


}
#footer .block_various_links {
padding: 15px 10px;
margin-left: 224px;
}


#secciones {
    margin-top:80px;
    min-height:100%;
    /*margin-bottom: -150px;*/
}


*header .navbar{*/
  background: rgb(223, 205, 193);
}

footer{
  overflow: hidden;
  position: absolute;
  clear: both;
  width: 100%;
  background: rgb(209, 8, 27);
  /*border-radius: 20px 20px 0 0;*/
  /*border: 2px solid black;*/
<<<<<<< HEAD
  height: 100px;
  /*display: flex;*/
=======
  /*height: 100px;*/
  display: block;
  box-sizing: border-box;
>>>>>>> master
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;

}

.col-md-*{

}




footer li{
  color: white;
  margin-right: 10px;
  display: inline-block;
}

footer a {
  color: white;
  text-decoration: none;
  text-transform: capitalize; /*convierte a mayuscula la primer letra*/
<<<<<<< HEAD
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {450px}
=======
}
>>>>>>> master
