*{
  margin: 0;
  padding: 0;
  box-sizing: border-box!important;
}

html {
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
  }

.navbar-nav>li>a{
  text-align: right;
}

#secciones {
    margin-top:80px;
}
